
/* ==================================
        Titles Section
================================== */
img {
    min-width: 100%;
    max-width: 100%;
}
#copy-wrapper {
    height: 80%;
}

#donate-button-wrapper {
    padding: 0;
}

/* ==================================
        Tabs 
================================== */
.nav {
    li {
        text-align: center;
        font-family: Helvetica, Sans-serif;
        font-weight: 50;
        font-size: 1.5em;
        a {
            border-radius: 0%;
            color: gray;
        }
        &.active {
            a {
                color: #EF4036;
                background-color: white;
            }
        } 
    }
}


/* ==================================
        Content Section
================================== */

/* Site wide and general purpose */

.content {
    display: none;
    &.active {
        display: block;
    }
    .post-wrapper {
        .img-wrapper {
            margin-top: 10px;
            &:first-child {
                margin-top: 40px;
            }
            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
}

/* ==================================
        Footer Section
================================== */

.footer {
    div {
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: center;
        p {
            color: #BBB;
            a {
                color: #FF7066;
            }
        }
    }
}


/*
** Media Queries
*/

/*xs*/
@media ( max-width: 767px ) {

    #header-wrapper {
        padding-top: 10%;
        padding-bottom: 40px;
    }

    #donate-button-wrapper {
        // padding-top: 10%
    }   

    .nav {
            li {
                width: 49.5%;
            }
    }
    .post-wrapper {
        .img-wrapper {
            .name-wrapper {
                top: 0;
                left: 10;
                padding: 10px;
                position: absolute;
                z-index: 999;
            }
        }
    }

}

/*sm*/
@media ( min-width: 768px ) {
    
    #header-wrapper {
        padding-top: 74px;
        padding-bottom: 40px;
    }

    #donate-button-wrapper {
        // padding-top: 35px;
    } 

    .nav {
            li {
                width: 49.5%;
            }
    }
    .post-wrapper {
        .img-wrapper {
            img {
                margin: 0 auto;
            }
            .name-wrapper {
                text-align: center;
                margin-top: -50px;
                padding: 10px 0;
            }
        }
    }
}

/*md*/
@media ( min-width: 992px ) {
    // .nav {
    //         li {
    //             width: 49.5%;
    //         }
    // }
    // .post-wrapper {
    //     .img-wrapper {
    //         img {
    //             margin: 0 auto;
    //         }
    //         .name-wrapper {
    //             text-align: center;
    //             margin-top: -50px;
    //             padding: 10px 0;
    //         }
    //     }
    // }
}